#headerfirst {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
div {
    box-sizing: border-box;
  }
  #PageForm input::placeholder {
    color: #9c9c9c;
    font-size: 14px;
  }
  @media screen and (max-width: 20em) {
    header {
      padding-top: 1.2rem;
    }
  }
  img {
    max-width: 100%;
  }
  header {
    padding-top: 0;
  }
  ._h-helper_flex-occupy-4889 {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
  ._h-helper_show-BelowDesktop-cbd9 {
    display: none;
  }
  ._h-helper_hide-BelowTablet-1f70 {
    display: inherit;
  }
  @media screen and (max-width: 62em) {
    ._h-helper_show-BelowDesktop-cbd9 {
      display: inherit;
    }
    ._h-helper_hide-BelowDesktop-5eb5 {
      display: none !important;
    }
  }
  @media screen and (max-width: 36em) {
    ._h-helper_hide-BelowLandscape-2641 {
      display: none !important;
    }
  }
  @media screen and (max-width: 48em) {
    ._h-helper_hide-BelowTablet-1f70 {
      display: none !important;
    }
  }
  ._h-z-10-bd04 {
    z-index: 10;
  }
  ._h-b--gray-300-0d36 {
    border-color: #d1d1d1;
    border-color: var(--gray-300);
  }
  ._h-bb-e141 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }
  ._h-bn-deb3 {
    border-style: none;
    border-width: 0;
  }
  ._h-bg-left-e207 {
    background-position: 0;
    background-repeat: no-repeat;
  }
  ._h-br2-afbc {
    border-radius: 0.25rem;
  }
  ._h-br3-86ea {
    border-radius: 0.5rem;
  }
  ._h-db-dbc3 {
    display: block;
  }
  ._h-flex-6fc0 {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
  }
  ._h-flex-column-40d6 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  ._h-items-center-3864 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  ._h-justify-between-0c6c {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  ._h-justify-around-ff7e {
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
  ._h-relative-c50c {
    position: relative;
  }
  ._h-near-black-73af {
    color: #333;
    color: var(--gray-900);
  }
  ._h-gray-60d4 {
    color: #686868;
    color: var(--gray-700);
  }
  ._h-white-ce0e {
    color: #fff;
    color: var(--white);
  }
  ._h-bg-mid-gray-78a1 {
    background-color: #333;
    background-color: var(--gray-900);
  }
  ._h-bg-white-ca89 {
    background-color: #fff;
    background-color: var(--white);
  }
  ._h-mb2-d427 {
    margin-bottom: 0.5rem;
  }
  ._h-mt2-0c26 {
    margin-top: 0.5rem;
  }
  ._h-no-underline-71ef {
    text-decoration: none;
  }
  ._h-truncate-b266 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  ._h-nowrap-db39 {
    white-space: nowrap;
  }
  ._h-pointer-faac:hover {
    cursor: pointer;
  }
  ._h-container-8f66 {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-align-items: center;
    align-items: center;
    height: 5rem;
    -webkit-justify-content: center;
    justify-content: center;
    width: 5rem;
  }
  ._h-icon-64ba {
    display: block;
    height: 36%;
    width: 36%;
  }
  ._h-location-f8b9 {
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 12rem;
  }
  ._h-iconGeoloc-183d {
    display: block;
    height: 2.5rem;
    margin: 0 5px;
    width: 2rem;
  }
  ._h-txtGeoloc-cdd2 {
    font-size: 1.1rem;
    margin: 0 5px;
  }
  @media screen and (max-width: 62em) {
    ._h-location-f8b9 {
      width: auto;
    }
    ._h-iconGeoloc-183d {
      margin-right: 1.5rem;
      width: 1.3rem;
    }
  }
  @media screen and (max-width: 48em) {
    ._h-iconGeoloc-183d {
      width: 1.2rem;
    }
  }
  @media screen and (max-width: 36em) {
    ._h-iconGeoloc-183d {
      margin-right: 0.8rem;
      margin-top: 0.8rem;
      width: 0.9rem;
    }
  }
  ._h-flex_grow-9ed2 {
    -webkit-box-flex: 1;
    -webkit-flex-basis: 0;
    flex-basis: 0;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
  ._h-mr_search-39b5 {
    margin-right: 1.8rem;
  }
  ._h-brRight-f481 {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  ._h-defaultBorder-08bf {
    border: 1px solid #d1d1d1;
    border: 1px solid var(--gray-300);
  }
  ._h-wrapper-365f {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    border-radius: 3px;
    height: 5rem;
    position: relative;
  }
  ._h-button-c673 {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    width: 5rem;
  }
  ._h-buttonIcon-6bb0 {
    display: block;
    margin: auto;
    width: 40%;
  }
  ._h-search-4c7a {
    height: 100%;
  }
  ._h-search-4c7a > div:first-child > div:first-child {
    -webkit-box-flex: 1;
    -webkit-flex-basis: 0;
    flex-basis: 0;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    height: 100%;
  }
  @media screen and (max-width: 75em) {
    ._h-wrapper-365f {
      height: 4.6rem;
    }
    ._h-button-c673 {
      width: 4.6rem;
    }
  }
  @media screen and (max-width: 36em) {
    ._h-wrapper-365f {
      height: 3.6rem;
    }
    ._h-button-c673 {
      width: 3.6rem;
    }
    ._h-mr_search-39b5 {
      margin-left: 0.5rem;
    }
  }
  ._h-input-02b9 {
    background: transparent;
    border-style: none;
    border-width: 0;
    bottom: 0;
    font-size: 1.6rem;
    height: 100%;
    margin: 0 0 1px;
    min-width: 8rem;
    outline: none;
    padding: 0 13rem 0 1.5rem;
    position: relative;
    width: 100%;
  }
  ._h-placeholderLabel-ea8c {
    color: #9c9c9c;
    font-size: 1.4rem;
    padding-left: 0.2rem;
    position: absolute;
    -webkit-transform: translate(12px, 17px) scale(1);
    transform: translate(12px, 17px) scale(1);
  }
  ._h-placeholderLabelBelowLandscape-f4fc {
    display: none;
  }
  ._h-placeholderLabelAboveLandscape-2679 {
    display: block;
  }
  @media screen and (max-width: 62em) {
    ._h-input-02b9 {
      padding: 0 0 0 1.8rem;
    }
    ._h-placeholderLabel-ea8c {
      bottom: 3rem;
      padding-left: 0.5rem;
    }
  }
  @media screen and (max-width: 48em) {
    ._h-input-02b9 {
      padding: 0 0 0 1.8rem;
    }
  }
  @media screen and (max-width: 36em) {
    ._h-input-02b9 {
      padding: 0 0 0 1.8rem;
    }
    ._h-placeholderLabel-ea8c {
      bottom: 2.6rem;
      padding-left: 0.5rem;
    }
    ._h-placeholderLabelBelowLandscape-f4fc {
      display: block;
    }
    ._h-placeholderLabelAboveLandscape-2679 {
      display: none;
    }
  }
  @media screen and (max-width: 20em) {
    ._h-input-02b9 {
      font-size: 1.2rem;
      padding: 0 0 0 1.3rem;
    }
    ._h-placeholderLabel-ea8c {
      bottom: 2.6rem;
      padding-left: 0.1rem;
    }
  }
  ._h-item-9b5c {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-self: center;
    align-self: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0.4rem 0 0.6rem 3rem;
    position: relative;
  }
  ._h-icon-64df {
    height: 2.4rem;
    margin-right: 0.6rem;
    width: 2.4rem;
  }
  @media screen and (min-width: 48em) {
    ._h-label-f953 {
      font-size: 1.5rem;
      line-height: 2.4rem;
    }
  }
  @media screen and (max-width: 48em) {
    ._h-item-9b5c {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      flex-direction: column;
      padding: 0;
    }
    ._h-icon-64df {
      margin: 0;
    }
    ._h-label-f953 {
      font-size: 1.3rem;
      margin-top: 2px;
    }
  }
  @media screen and (max-width: 20em) {
    ._h-label-f953 {
      font-size: 1.1rem;
    }
  }
  ._h-root-dc7d {
    -webkit-box-align: center;
    -webkit-box-flex: 1;
    -webkit-box-pack: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-self: auto;
    align-self: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-basis: 0;
    flex-basis: 0;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-justify-content: center;
    justify-content: center;
    min-width: 0;
    padding: 0 0 1rem;
  }
  ._h-root-dc7d img {
    height: 20px;
  }
  ._h-priceClub-4089 {
    -webkit-box-flex: 0.7;
    -webkit-flex-grow: 0.7;
    flex-grow: 0.7;
  }
  ._h-priceClub-4089 a {
    padding-left: 0;
    padding-top: 0.1rem;
  }
  @media screen and (max-width: 48em) {
    ._h-root-dc7d {
      padding-top: 0.6rem;
    }
  }
  ._h-icons-931a {
    margin-right: 0;
    margin-top: 3px;
  }
  @media screen and (min-width: 48em) {
    ._h-icons-931a {
      margin-right: 10px;
    }
  }
  @media screen and (max-width: 62em) {
    ._h-icons-931a {
      margin-top: 0;
    }
  }
  ._h-root-74de {
    -webkit-align-self: auto;
    align-self: auto;
  }
  ._h-container-aef0 {
    padding: 0 0 1rem;
  }
  ._h-label-cba8 span {
    display: block;
    line-height: 2;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  ._h-wrapperOpen-4e48 ._h-labelClose-2f2c {
    height: 0;
    opacity: 0;
    width: 0;
  }
  ._h-wrapperOpen-4e48 ._h-labelOpen-17dd {
    height: auto;
    opacity: 1;
    width: auto;
  }
  @media screen and (min-width: 48em) {
    ._h-container-aef0 {
      -webkit-box-flex: 1.3;
      -webkit-flex-basis: 0;
      flex-basis: 0;
      -webkit-flex-grow: 1.3;
      flex-grow: 1.3;
      padding-left: 1rem;
    }
    ._h-label-cba8 {
      font-size: 1.5rem;
    }
    ._h-container-aef0:after,
    ._h-container-aef0:before {
      content: '';
      display: block;
      width: 10%;
    }
  }
  @media screen and (max-width: 62em) {
    ._h-container-aef0 {
      -webkit-box-flex: 1;
      -webkit-flex-basis: 0;
      flex-basis: 0;
      -webkit-flex-grow: 1;
      flex-grow: 1;
    }
    ._h-container-aef0,
    ._h-root-74de {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
    }
    ._h-root-74de {
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
  }
  @media screen and (max-width: 48em) {
    ._h-container-aef0 {
      padding-top: 0.6rem;
    }
    ._h-root-74de {
      -webkit-box-align: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-box-pack: center;
      -webkit-align-items: center;
      align-items: center;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: center;
      justify-content: center;
    }
    ._h-label-cba8 {
      font-size: 1.3rem;
      margin-top: 3px;
    }
  }
  @media screen and (max-width: 20em) {
    ._h-label-cba8 {
      font-size: 1.1rem;
    }
  }
  ._h-nav-123a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  ._h-headerZIndex-45fc {
    position: relative;
    z-index: 999;
  }
  ._h-srOnly-8f0f {
    clip: rect(0, 0, 0, 0);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  ._h-logo-e81d {
    display: block;
    margin-top: -2px;
    width: 204px;
  }
  ._h-logo-e81d img {
    width: 100%;
  }
  ._h-mh_logo-59df {
    margin-left: 1.6vw;
  }
  @media screen and (max-width: 62em) {
    ._h-logo-e81d {
      width: 162px;
    }
    ._h-mh_logo-59df {
      margin-left: 14px;
    }
  }
  @media screen and (max-width: 48em) {
    ._h-mh_logo-59df {
      margin-right: 1.6rem;
    }
  }
  @media screen and (max-width: 36em) {
    ._h-logo-e81d {
      min-width: 104px;
      width: 104px;
    }
    ._h-mh_logo-59df {
      margin-left: 8px;
      margin-right: 6px;
    }
  }
  /*! CSS Used from: https://fr.shopping.rakuten.com/vstatic/1/stylesheets/global-vendor.040d2ffaa010423c0c11.css ; media=all */
  @media all {
    header,
    nav {
      display: block;
    }
    a {
      -webkit-text-decoration-skip: objects;
      background-color: transparent;
    }
    img {
      border-style: none;
    }
    svg:not(:root) {
      overflow: hidden;
    }
    button,
    input {
      font-family: RakutenSansUi, sans-serif;
      font-size: 100%;
      line-height: 1.15;
      margin: 0;
    }
    button,
    input {
      overflow: visible;
    }
    button {
      text-transform: none;
    }
    button,
    html [type='button'] {
      -webkit-appearance: button;
    }
    a,
    div,
    form,
    header,
    input[type='text'],
    nav {
      box-sizing: border-box;
    }
    img {
      max-width: 100%;
    }
    .OpenSans-loaded button,
    .OpenSans-loaded input,
    button,
    input {
      font-family: RakutenSansUi, Arial, Helvetica, sans-serif;
    }
  }
  /*! CSS Used from: Embedded */
  .css-oo0okb {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    color: #000000;
    font-size: 1.4rem;
    line-height: 1.214;
    font-family: RakutenSansUi, RakutenSansUiBlack, RakutenSansUiLight,
      RakutenSansUiSemiBold, sans-serif;
    font-weight: 400;
    background-color: #ffffff;
  }
  @media print {
    .css-oo0okb {
      background-color: #ffffff;
    }
  }
  .css-oo0okb *,
  .css-oo0okb *::before,
  .css-oo0okb *::after {
    box-sizing: inherit;
  }
  /*! CSS Used from: Embedded */
  .css-oo0okb {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    color: #000000;
    font-size: 1.4rem;
    line-height: 1.214;
    font-family: RakutenSansUi, RakutenSansUiBlack, RakutenSansUiLight,
      RakutenSansUiSemiBold, sans-serif;
    font-weight: 400;
    background-color: #ffffff;
  }
  @media print {
    .css-oo0okb {
      background-color: #ffffff;
    }
  }
  .css-oo0okb *,
  .css-oo0okb *::before,
  .css-oo0okb *::after {
    box-sizing: inherit;
  }
  /*! CSS Used from: Embedded */
  .css-oo0okb {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    color: #000000;
    font-size: 1.4rem;
    line-height: 1.214;
    font-family: RakutenSansUi, RakutenSansUiBlack, RakutenSansUiLight,
      RakutenSansUiSemiBold, sans-serif;
    font-weight: 400;
    background-color: #ffffff;
  }
  @media print {
    .css-oo0okb {
      background-color: #ffffff;
    }
  }
  .css-oo0okb *,
  .css-oo0okb *::before,
  .css-oo0okb *::after {
    box-sizing: inherit;
  }
  /*! CSS Used from: Embedded */
  .Hea1 {
    color: #000000;
    font-size: 1.4rem;
    box-sizing: border-box;
    font-family: RakutenSansUi, RakutenSansUiBlack, RakutenSansUiLight,
      RakutenSansUiSemiBold, sans-serif;
    font-weight: 400;
    line-height: 1.214;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @media print {
    .Hea1 {
      background-color: #ffffff;
    }
  }
  .Hea1 *,
  .Hea1 *::before,
  .Hea1 *::after {
    box-sizing: inherit;
  }
  /*! CSS Used from: Embedded ; media=screen */
  @media screen {
    #kameleoonId1034600 {
      display: none !important;
    }
  }
  /*! CSS Used from: Embedded */
  #kml-onglet {
    margin: 0 0 0 20px;
    width: 190px;
    display: inline-block;
  }
  /*! CSS Used from: Embedded */
  .hide-in-webview {
    display: inherit;
  }
  /*! CSS Used from: Embedded */
  .hide-in-webview {
    display: inherit;
  }
  /*! CSS Used fontfaces */
  @font-face {
    font-family: RakutenSansUi;
    font-style: normal;
    font-weight: 700;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_Bd-97c36cdfc33ad26de05d3e9b6831f759.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_Bd-e4281ae42dea0e8b1d0258fd0dc2f6d5.woff)
        format('woff');
  }
  @font-face {
    font-family: RakutenSansUi;
    font-style: italic;
    font-weight: 700;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_BdIt-e9c05b99ed8c599ef463b5bd9a485fb2.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_BdIt-d077d86164a612b1b596ee706065577f.woff)
        format('woff');
  }
  @font-face {
    font-family: RakutenSansUi;
    font-style: italic;
    font-weight: 400;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_It-08a582ff505ae8f45a1ed690233d499e.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_It-5d75399f54ac49632dd5cbb80fd1cd87.woff)
        format('woff');
  }
  @font-face {
    font-family: RakutenSansUi;
    font-style: normal;
    font-weight: 400;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_Rg-7e3344e4a97c74a6842f6a071becd094.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_Rg-48531c51b73da9f8fde9f1b5910347e9.woff)
        format('woff');
  }
  @font-face {
    font-family: RakutenSansUi;
    font-style: normal;
    font-weight: 700;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_Bd-97c36cdfc33ad26de05d3e9b6831f759.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_Bd-e4281ae42dea0e8b1d0258fd0dc2f6d5.woff)
        format('woff');
  }
  @font-face {
    font-family: RakutenSansUi;
    font-style: italic;
    font-weight: 700;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_BdIt-e9c05b99ed8c599ef463b5bd9a485fb2.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_BdIt-d077d86164a612b1b596ee706065577f.woff)
        format('woff');
  }
  @font-face {
    font-family: RakutenSansUi;
    font-style: italic;
    font-weight: 400;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_It-08a582ff505ae8f45a1ed690233d499e.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_It-5d75399f54ac49632dd5cbb80fd1cd87.woff)
        format('woff');
  }
  @font-face {
    font-family: RakutenSansUi;
    font-style: normal;
    font-weight: 400;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_Rg-7e3344e4a97c74a6842f6a071becd094.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_Rg-48531c51b73da9f8fde9f1b5910347e9.woff)
        format('woff');
  }
  @font-face {
    font-family: RakutenSansUi;
    font-style: normal;
    font-weight: 700;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_Bd-97c36cdfc33ad26de05d3e9b6831f759.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_Bd-e4281ae42dea0e8b1d0258fd0dc2f6d5.woff)
        format('woff');
  }
  @font-face {
    font-family: RakutenSansUi;
    font-style: italic;
    font-weight: 700;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_BdIt-e9c05b99ed8c599ef463b5bd9a485fb2.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_BdIt-d077d86164a612b1b596ee706065577f.woff)
        format('woff');
  }
  @font-face {
    font-family: RakutenSansUi;
    font-style: italic;
    font-weight: 400;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_It-08a582ff505ae8f45a1ed690233d499e.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_It-5d75399f54ac49632dd5cbb80fd1cd87.woff)
        format('woff');
  }
  @font-face {
    font-family: RakutenSansUi;
    font-style: normal;
    font-weight: 400;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_Rg-7e3344e4a97c74a6842f6a071becd094.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_Rg-48531c51b73da9f8fde9f1b5910347e9.woff)
        format('woff');
  }
  @font-face {
    font-family: RakutenSansUiBlack;
    font-style: normal;
    font-weight: 400;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_Blk-24b2e1c0ef3fa4871d0f6b8dd575f8fb.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_Blk-9057c3ca27d533cc7616ad1382b5a783.woff)
        format('woff');
  }
  @font-face {
    font-family: RakutenSansUiBlack;
    font-style: italic;
    font-weight: 400;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_BlkIt-e52d6b952ddf089fe55aa7770a59c541.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_BlkIt-1ceb4e8781da34917aa8d916879714b7.woff)
        format('woff');
  }
  @font-face {
    font-family: RakutenSansUiBlack;
    font-style: normal;
    font-weight: 400;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_Blk-24b2e1c0ef3fa4871d0f6b8dd575f8fb.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_Blk-9057c3ca27d533cc7616ad1382b5a783.woff)
        format('woff');
  }
  @font-face {
    font-family: RakutenSansUiBlack;
    font-style: italic;
    font-weight: 400;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_BlkIt-e52d6b952ddf089fe55aa7770a59c541.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_BlkIt-1ceb4e8781da34917aa8d916879714b7.woff)
        format('woff');
  }
  @font-face {
    font-family: RakutenSansUiBlack;
    font-style: normal;
    font-weight: 400;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_Blk-24b2e1c0ef3fa4871d0f6b8dd575f8fb.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_Blk-9057c3ca27d533cc7616ad1382b5a783.woff)
        format('woff');
  }
  @font-face {
    font-family: RakutenSansUiBlack;
    font-style: italic;
    font-weight: 400;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_BlkIt-e52d6b952ddf089fe55aa7770a59c541.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_BlkIt-1ceb4e8781da34917aa8d916879714b7.woff)
        format('woff');
  }
  @font-face {
    font-family: RakutenSansUiLight;
    font-style: normal;
    font-weight: 400;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_Lt-d41b94689277cce1311d8718617b083c.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_Lt-016ca83d145497bde4a6a67e22dab251.woff)
        format('woff');
  }
  @font-face {
    font-family: RakutenSansUiLight;
    font-style: italic;
    font-weight: 400;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_LtIt-74d6a380491dfbf54b414c7c250fa83f.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_LtIt-9a54168d04f9fdb35b256c84797ef2c4.woff)
        format('woff');
  }
  @font-face {
    font-family: RakutenSansUiLight;
    font-style: normal;
    font-weight: 400;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_Lt-d41b94689277cce1311d8718617b083c.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_Lt-016ca83d145497bde4a6a67e22dab251.woff)
        format('woff');
  }
  @font-face {
    font-family: RakutenSansUiLight;
    font-style: italic;
    font-weight: 400;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_LtIt-74d6a380491dfbf54b414c7c250fa83f.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_LtIt-9a54168d04f9fdb35b256c84797ef2c4.woff)
        format('woff');
  }
  @font-face {
    font-family: RakutenSansUiLight;
    font-style: normal;
    font-weight: 400;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_Lt-d41b94689277cce1311d8718617b083c.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_Lt-016ca83d145497bde4a6a67e22dab251.woff)
        format('woff');
  }
  @font-face {
    font-family: RakutenSansUiLight;
    font-style: italic;
    font-weight: 400;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_LtIt-74d6a380491dfbf54b414c7c250fa83f.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_LtIt-9a54168d04f9fdb35b256c84797ef2c4.woff)
        format('woff');
  }
  @font-face {
    font-family: RakutenSansUiSemiBold;
    font-style: normal;
    font-weight: 400;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_SBd-b383ef38fe698fd0f3014c7dee0f9703.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_SBd-627a0c6b66cd34aa837a5c590522b242.woff)
        format('woff');
  }
  @font-face {
    font-family: RakutenSansUiSemiBold;
    font-style: italic;
    font-weight: 400;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_SBdIt-7eb7884f4b85b9b65aa28ee4b93143cc.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_SBdIt-69aed7464ee60d5b9afd25b83ddf619a.woff)
        format('woff');
  }
  @font-face {
    font-family: RakutenSansUiSemiBold;
    font-style: normal;
    font-weight: 400;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_SBd-b383ef38fe698fd0f3014c7dee0f9703.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_SBd-627a0c6b66cd34aa837a5c590522b242.woff)
        format('woff');
  }
  @font-face {
    font-family: RakutenSansUiSemiBold;
    font-style: italic;
    font-weight: 400;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_SBdIt-7eb7884f4b85b9b65aa28ee4b93143cc.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_SBdIt-69aed7464ee60d5b9afd25b83ddf619a.woff)
        format('woff');
  }
  @font-face {
    font-family: RakutenSansUiSemiBold;
    font-style: normal;
    font-weight: 400;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_SBd-b383ef38fe698fd0f3014c7dee0f9703.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_SBd-627a0c6b66cd34aa837a5c590522b242.woff)
        format('woff');
  }
  @font-face {
    font-family: RakutenSansUiSemiBold;
    font-style: italic;
    font-weight: 400;
    src: url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_SBdIt-7eb7884f4b85b9b65aa28ee4b93143cc.woff2)
        format('woff2'),
      url(https://fr.shopping.rakuten.com/vstatic/0/fonts/RakutenSansUI_W_SBdIt-69aed7464ee60d5b9afd25b83ddf619a.woff)
        format('woff');
  }
  