<div id="footerfirst">
  <div class="Foo1">
    <div class="V5ScopedCssBaseline-root css-oo0okb">
      <style>
        .hide-in-webview {
          display: inherit;
        }
        .is-in-webview .hide-in-webview {
          display: none;
        }
      </style>
      <script type="text/javascript">
        var isEmbbedInBuyerApp =
          window.navigator.userAgent.indexOf('BuyerApp') >= 0 ||
          window.navigator.userAgent.indexOf('MSAppHost') >= 0;
        if (isEmbbedInBuyerApp) {
          document
            .getElementsByTagName('HTML')[0]
            .classList.add('is-in-webview');
        }
      </script>
      <div data-qa="hide_in_webview" class="hide-in-webview">
        <footer class="_f-bg-near-white-7d5940 footer" data-qa="footer-root">
          <div
            class="_f-flex-c3a12c _f-pa3-ed5153 _f-bg-white-033e9a _f-reinsuranceBlock-92ce15"
          >
            <a
              href="/newhelp/a-quoi-correspondent-les-etats-des-articles/"
              class="_f-flex-c3a12c _f-no-underline-42938b _f-a-5c5cbe"
              ><img
                data-qa="icon-external"
                class="_f-icon-260244 false"
                loading="lazy"
                src="./images/bagIcon.svg"
                alt="Neuf et occasion"
                width="43"
                height="43"
              />
              <div
                class="_f-labels-9c8601 _f-flex-c3a12c _f-flex-column-91540e"
              >
                <span class="_f-dark-gray-05105b _f-labelSmall-d212fe"
                  >Le choix</span
                ><span class="_f-gray-8885cc _f-labelLarge-00ee6f"
                  >Neuf et occasion</span
                >
              </div></a
            ><a
              href="/event/club-rakuten"
              class="_f-flex-c3a12c _f-no-underline-42938b _f-a-5c5cbe"
              ><img
                data-qa="icon-external"
                class="_f-icon-260244 _f-iconPriceClub-22269d"
                loading="lazy"
                src="./images/cardIcon.svg"
                alt="5% remboursés"
                width="80"
                height="43"
              />
              <div
                class="_f-labels-9c8601 _f-flex-c3a12c _f-flex-column-91540e"
              >
                <span class="_f-dark-gray-05105b _f-labelSmall-d212fe"
                  >Minimum</span
                ><span class="_f-gray-8885cc _f-labelLarge-00ee6f"
                  >5% remboursés</span
                >
              </div></a
            ><a
              href="https://help.fr.shopping.rakuten.net/hc/fr/articles/10324490666002-A-quoi-correspondent-les-frais-de-protection-acheteur-pr%C3%A9lev%C3%A9s-lors-de-mon-achat"
              class="_f-flex-c3a12c _f-no-underline-42938b _f-a-5c5cbe"
              ><img
                data-qa="icon-external"
                class="_f-icon-260244 false"
                loading="lazy"
                src="./images/shieldIcon.svg"
                alt="Satisfait ou remboursé"
                width="43"
                height="43"
              />
              <div
                class="_f-labels-9c8601 _f-flex-c3a12c _f-flex-column-91540e"
              >
                <span class="_f-dark-gray-05105b _f-labelSmall-d212fe"
                  >La sécurité</span
                ><span class="_f-gray-8885cc _f-labelLarge-00ee6f"
                  >Satisfait ou remboursé</span
                >
              </div></a
            ><a
              href="/newhelp/"
              class="_f-flex-c3a12c _f-no-underline-42938b _f-a-5c5cbe"
              ><img
                data-qa="icon-external"
                class="_f-icon-260244 false"
                loading="lazy"
                src="./images/customerCareIcon.svg"
                alt="À votre écoute"
                width="43"
                height="43"
              />
              <div
                class="_f-labels-9c8601 _f-flex-c3a12c _f-flex-column-91540e"
              >
                <span class="_f-dark-gray-05105b _f-labelSmall-d212fe"
                  >Le service clients</span
                ><span class="_f-gray-8885cc _f-labelLarge-00ee6f"
                  >À votre écoute</span
                >
              </div></a
            >
          </div>
          <ul
            class="_f-pa0-b2f1bf _f-ma0-91afa6 _f-bg-near-white-7d5940 _f-pmCorpLinks-0dd0ce"
          >
            <li
              class="_f-pa0-b2f1bf _f-list-d7a691 _f-pmCorpGroupList-0ee134"
              data-qa="footer-corporate-block"
            >
              <div
                class="_f-pa0-b2f1bf _f-dark-gray-05105b _f-groupedLinksLabel-94fc04"
              >
                <img
                  data-qa="icon-external"
                  class="_f-linkIcon-388a46 _f-helper_hide-AboveTablet-9f8620"
                  src="./images/starIcon.svg"
                  width="24"
                  height="24"
                  loading="lazy"
                />Liens utiles<img
                  src="./images/minusIcon.svg"
                  data-qa="icon-external"
                  class="_f-collapse-392744 _f-helper_hide-AboveTablet-9f8620"
                  width="16"
                  height="16"
                  loading="lazy"
                />
              </div>
              <ul class="_f-list-d7a691 _f-pa0-b2f1bf _f-slideDown-604118">
                <li
                  data-qa="footer-corporate-link"
                  class="_f-bg-near-white-7d5940 _f-linkItem-feb18f _f-iconed-b4586f"
                >
                  <img
                    data-qa="icon-external"
                    class="_f-icon-fe9f1d _f-helper_hide-AboveTablet-9f8620"
                    src="./images/profileIcon.svg"
                    width="24"
                    height="24"
                    loading="lazy"
                  /><a
                    href="/connect?action=login&amp;c=80"
                    class="_f-link-1c8d7c _f-dark-gray-05105b"
                    data-qa="footer-account"
                    >Mon compte</a
                  >
                </li>
                <li
                  data-qa="footer-corporate-link"
                  class="_f-bg-near-white-7d5940 _f-linkItem-feb18f _f-iconed-b4586f"
                >
                  <img
                    data-qa="icon-external"
                    class="_f-icon-fe9f1d _f-helper_hide-AboveTablet-9f8620"
                    src="./images/cartIcon.svg"
                    width="24"
                    height="24"
                    loading="lazy"
                  /><a
                    href="/cart"
                    class="_f-link-1c8d7c _f-dark-gray-05105b"
                    data-qa="footer-cart"
                    >Mon panier</a
                  >
                </li>
                <li
                  data-qa="footer-corporate-link"
                  class="_f-bg-near-white-7d5940 _f-linkItem-feb18f _f-iconed-b4586f"
                >
                  <img
                    data-qa="icon-external"
                    class="_f-icon-fe9f1d _f-helper_hide-AboveTablet-9f8620"
                    src="./images/cardIcon.svg"
                    width="24"
                    height="24"
                    loading="lazy"
                  /><a
                    href="https://help.fr.shopping.rakuten.net/hc/fr/articles/16298345113362-Je-souhaite-payer-en-plusieurs-fois-sur-la-plateforme-Rakuten-"
                    class="_f-link-1c8d7c _f-dark-gray-05105b"
                    data-qa="footer-payment"
                    >Paiement en plusieurs fois</a
                  >
                </li>
                <li
                  data-qa="footer-corporate-link"
                  class="_f-bg-near-white-7d5940 _f-linkItem-feb18f _f-iconed-b4586f"
                >
                  <img
                    data-qa="icon-external"
                    class="_f-icon-fe9f1d _f-helper_hide-AboveTablet-9f8620"
                    src="./images/sellIcon.svg"
                    width="24"
                    height="24"
                    loading="lazy"
                  /><a
                    href="/seller/sell-form"
                    class="_f-link-1c8d7c _f-dark-gray-05105b"
                    data-qa="footer-sell"
                    >Vendre</a
                  >
                </li>
                <li
                  data-qa="footer-corporate-link"
                  class="_f-bg-near-white-7d5940 _f-linkItem-feb18f _f-iconed-b4586f"
                >
                  <img
                    data-qa="icon-external"
                    class="_f-icon-fe9f1d _f-helper_hide-AboveTablet-9f8620"
                    src="./images/orderTrackingIcon.svg"
                    width="24"
                    height="24"
                    loading="lazy"
                  /><a
                    href="/connect?action=login"
                    class="_f-link-1c8d7c _f-dark-gray-05105b"
                    data-qa="footer-tracking"
                    >Suivre ma commande</a
                  >
                </li>
                <li
                  data-qa="footer-corporate-link"
                  class="_f-bg-near-white-7d5940 _f-linkItem-feb18f _f-iconed-b4586f"
                >
                  <img
                    data-qa="icon-external"
                    class="_f-icon-fe9f1d _f-helper_hide-AboveTablet-9f8620"
                    src="./images/cardIcon.svg"
                    width="24"
                    height="24"
                    loading="lazy"
                  /><a
                    href="/connect?action=login"
                    class="_f-link-1c8d7c _f-dark-gray-05105b"
                    data-qa="footer-clubR"
                    >Mon Club R</a
                  >
                </li>
              </ul>
            </li>
            <li
              class="_f-pa0-b2f1bf _f-list-d7a691 _f-pmCorpGroupList-0ee134"
              data-qa="footer-corporate-block"
            >
              <div
                class="_f-pa0-b2f1bf _f-dark-gray-05105b _f-groupedLinksLabel-94fc04"
              >
                <img
                  data-qa="icon-external"
                  class="_f-linkIcon-388a46 _f-helper_hide-AboveTablet-9f8620"
                  src="./images/helpIcon.svg"
                  width="24"
                  height="24"
                  loading="lazy"
                />Aide<img
                  src="./images/plusIcon.svg"
                  data-qa="icon-external"
                  class="_f-collapse-392744 _f-helper_hide-AboveTablet-9f8620"
                  width="16"
                  height="16"
                  loading="lazy"
                />
              </div>
              <ul class="_f-list-d7a691 _f-pa0-b2f1bf _f-slideUp-e7d2a9">
                <li
                  data-qa="footer-corporate-link"
                  class="_f-bg-near-white-7d5940 _f-linkItem-feb18f"
                >
                  <a
                    href="/newhelp/"
                    class="_f-link-1c8d7c _f-dark-gray-05105b"
                    data-qa="footer-help"
                    >Besoin d'aide ?</a
                  >
                </li>
                <li
                  data-qa="footer-corporate-link"
                  class="_f-bg-near-white-7d5940 _f-linkItem-feb18f"
                >
                  <a
                    href="/onboarding-pro/user-information"
                    class="_f-link-1c8d7c _f-dark-gray-05105b"
                    data-qa="footer-openShop"
                    >Ouvrir un e-shop en tant que commerçant</a
                  >
                </li>
                <li
                  data-qa="footer-corporate-link"
                  class="_f-bg-near-white-7d5940 _f-linkItem-feb18f"
                >
                  <a
                    href="https://help.fr.shopping.rakuten.net/hc/fr/articles/10324490666002-A-quoi-correspondent-les-frais-prélevés-lors-de-mon-achat"
                    class="_f-link-1c8d7c _f-dark-gray-05105b"
                    data-qa="footer-protection"
                    >Frais de protection acheteurs</a
                  >
                </li>
                <li
                  data-qa="footer-corporate-link"
                  class="_f-bg-near-white-7d5940 _f-linkItem-feb18f"
                >
                  <a
                    href="/newhelp/signalements/"
                    class="_f-link-1c8d7c _f-dark-gray-05105b"
                    >Signaler un contenu illicite</a
                  >
                </li>
                <li
                  data-qa="footer-corporate-link"
                  class="_f-bg-near-white-7d5940 _f-linkItem-feb18f"
                >
                  <a
                    href="/plan-de-site/sitemap-nav"
                    class="_f-link-1c8d7c _f-dark-gray-05105b"
                    >Plan du site</a
                  >
                </li>
                <li
                  data-qa="footer-corporate-link"
                  class="_f-bg-near-white-7d5940 _f-linkItem-feb18f"
                >
                  <a
                    href="https://global.fr.shopping.rakuten.com/actualite/"
                    class="_f-link-1c8d7c _f-dark-gray-05105b"
                    >Le blog</a
                  >
                </li>
              </ul>
            </li>
            <li
              class="_f-pa0-b2f1bf _f-list-d7a691 _f-pmCorpGroupList-0ee134"
              data-qa="footer-corporate-block"
            >
              <div
                class="_f-pa0-b2f1bf _f-dark-gray-05105b _f-groupedLinksLabel-94fc04"
              >
                <img
                  data-qa="icon-external"
                  class="_f-linkIcon-388a46 _f-helper_hide-AboveTablet-9f8620"
                  src="./images/infoIcon.svg"
                  width="24"
                  height="24"
                  loading="lazy"
                />Rakuten<img
                  src="./images/plusIcon.svg"
                  data-qa="icon-external"
                  class="_f-collapse-392744 _f-helper_hide-AboveTablet-9f8620"
                  width="16"
                  height="16"
                  loading="lazy"
                />
              </div>
              <ul class="_f-list-d7a691 _f-pa0-b2f1bf _f-slideUp-e7d2a9">
                <li
                  data-qa="footer-corporate-link"
                  class="_f-bg-near-white-7d5940 _f-linkItem-feb18f"
                >
                  <a
                    href="https://global.fr.shopping.rakuten.com/nos-offres/"
                    class="_f-link-1c8d7c _f-dark-gray-05105b"
                    >Carrières</a
                  >
                </li>
                <li
                  data-qa="footer-corporate-link"
                  class="_f-bg-near-white-7d5940 _f-linkItem-feb18f"
                >
                  <a
                    href="/newhelp/conditions-generales/"
                    class="_f-link-1c8d7c _f-dark-gray-05105b"
                    >Conditions générales</a
                  >
                </li>
                <li
                  data-qa="footer-corporate-link"
                  class="_f-bg-near-white-7d5940 _f-linkItem-feb18f"
                >
                  <a
                    href="https://fr.shopping.rakuten.com/event/mentions-legales"
                    class="_f-link-1c8d7c _f-dark-gray-05105b"
                    >*Conditions des offres</a
                  >
                </li>
                <li
                  data-qa="footer-corporate-link"
                  class="_f-bg-near-white-7d5940 _f-linkItem-feb18f"
                >
                  <a
                    href="/newhelp/vie-privee-et-cookies/"
                    class="_f-link-1c8d7c _f-dark-gray-05105b"
                    >Politique Vie privée</a
                  >
                </li>
                <li
                  data-qa="footer-corporate-link"
                  class="_f-bg-near-white-7d5940 _f-linkItem-feb18f"
                >
                  <a href="#" class="_f-link-1c8d7c _f-dark-gray-05105b"
                    >Gestion des cookies</a
                  >
                </li>
                <li
                  data-qa="footer-corporate-link"
                  class="_f-bg-near-white-7d5940 _f-linkItem-feb18f"
                >
                  <a
                    href="/evt/affiliation-PM"
                    class="_f-link-1c8d7c _f-dark-gray-05105b"
                    >Affiliation</a
                  >
                </li>
                <li
                  data-qa="footer-corporate-link"
                  class="_f-bg-near-white-7d5940 _f-linkItem-feb18f"
                >
                  <a
                    rel="nofollow"
                    href="/publicite/"
                    class="_f-link-1c8d7c _f-dark-gray-05105b"
                    >Devenez annonceur</a
                  >
                </li>
                <li
                  data-qa="footer-corporate-link"
                  class="_f-bg-near-white-7d5940 _f-linkItem-feb18f"
                >
                  <a
                    href="https://global.fr.shopping.rakuten.com/rakuten-monde/"
                    class="_f-link-1c8d7c _f-dark-gray-05105b"
                    >A propos de Rakuten</a
                  >
                </li>
                <li
                  data-qa="footer-corporate-link"
                  class="_f-bg-near-white-7d5940 _f-linkItem-feb18f"
                >
                  <a
                    href="/newhelp/fonctionnement/"
                    class="_f-link-1c8d7c _f-dark-gray-05105b"
                    >Fonctionnement du service</a
                  >
                </li>
                <li
                  data-qa="footer-corporate-link"
                  class="_f-bg-near-white-7d5940 _f-linkItem-feb18f"
                >
                  <a
                    href="/event/assurance"
                    class="_f-link-1c8d7c _f-dark-gray-05105b"
                    >Assurances</a
                  >
                </li>
              </ul>
            </li>
          </ul>
          <div
            class="_f-flex-c3a12c _f-flex-wrap-85a32e _f-pv3-54886b _f-bg-white-033e9a"
          >
            <div
              class="_f-socialIconsSpace-b48d95 _f-iconSeparator-b8d099 _f-flex-c3a12c _f-justify-around-c1e7fe _f-bg-white-033e9a _f-pv3-54886b _f-ph4-4629c9"
            >
              <a
                rel="noopener noreferrer nofollow"
                target="_blank"
                href="https://www.linkedin.com/company/rakutenfrance"
                class=""
                ><img
                  data-qa="icon-external"
                  class="_f-socialIcons-542bca _f-db-d2ba8a _f-overflow-hidden-4fbe93"
                  width="34"
                  height="34"
                  loading="lazy"
                  src="./images/linkedinIcon.svg"
                /><span class="_f-sr-only-2756d3">Linkedin</span></a
              ><a
                rel="noopener noreferrer nofollow"
                target="_blank"
                href="https://www.facebook.com/RakutenFrance"
                class=""
                ><img
                  data-qa="icon-external"
                  class="_f-socialIcons-542bca _f-db-d2ba8a _f-overflow-hidden-4fbe93"
                  width="34"
                  height="34"
                  loading="lazy"
                  src="./images/facebookIcon.svg"
                /><span class="_f-sr-only-2756d3">Facebook</span></a
              ><a
                rel="noopener noreferrer nofollow"
                target="_blank"
                href="https://twitter.com/RakutenFrance"
                class=""
                ><img
                  data-qa="icon-external"
                  class="_f-socialIcons-542bca _f-db-d2ba8a _f-overflow-hidden-4fbe93"
                  width="34"
                  height="34"
                  loading="lazy"
                  src="./images/twitterIcon.svg"
                /><span class="_f-sr-only-2756d3">Twitter</span></a
              ><a
                rel="noopener noreferrer nofollow"
                target="_blank"
                href="https://www.instagram.com/rakutenfrance"
                class=""
                ><img
                  data-qa="icon-external"
                  class="_f-socialIcons-542bca _f-db-d2ba8a _f-overflow-hidden-4fbe93"
                  width="34"
                  height="34"
                  loading="lazy"
                  src="./images/instagramIcon.svg"
                /><span class="_f-sr-only-2756d3">Instagram</span></a
              ><a
                rel="noopener noreferrer nofollow"
                target="_blank"
                href="https://www.youtube.com/c/rakutenfrance"
                class=""
                ><img
                  data-qa="icon-external"
                  class="_f-socialIcons-542bca _f-db-d2ba8a _f-overflow-hidden-4fbe93"
                  width="34"
                  height="34"
                  loading="lazy"
                  src="./images/youtubeIcon.svg"
                /><span class="_f-sr-only-2756d3">Youtube</span></a
              ><a
                rel="noopener noreferrer nofollow"
                target="_blank"
                href="https://www.pinterest.com/rakutenfrance"
                class=""
                ><img
                  data-qa="icon-external"
                  class="_f-socialIcons-542bca _f-db-d2ba8a _f-overflow-hidden-4fbe93"
                  width="34"
                  height="34"
                  loading="lazy"
                  src="./images/pinterestIcon.svg"
                /><span class="_f-sr-only-2756d3">Pinterest</span></a
              >
            </div>
            <div
              class="_f-paymentMethodsSpace-b37f2d _f-pv3-54886b _f-ph4-4629c9 _f-flex-c3a12c _f-justify-around-c1e7fe _f-bg-white-033e9a"
            >
              <div class="_f-pt2-acfe83">
                <img
                  data-qa="icon-external"
                  class="_f-db-d2ba8a _f-overflow-hidden-4fbe93"
                  src="./images/visaIcon.svg"
                  alt="visa"
                  width="45"
                  height="25"
                  loading="lazy"
                /><span class="_f-sr-only-2756d3">visa</span>
              </div>
              <div class="_f-pt2-acfe83">
                <img
                  data-qa="icon-external"
                  class="_f-db-d2ba8a _f-overflow-hidden-4fbe93"
                  src="./images/mastercardIcon.svg"
                  alt="mastercard"
                  width="34"
                  height="34"
                  loading="lazy"
                /><span class="_f-sr-only-2756d3">mastercard</span>
              </div>
              <div class="_f-pt2-acfe83">
                <img
                  data-qa="icon-external"
                  class="_f-db-d2ba8a _f-overflow-hidden-4fbe93"
                  src="./images/klarna.svg"
                  alt="klarna"
                  width="54"
                  height="30"
                  loading="lazy"
                /><span class="_f-sr-only-2756d3">klarna</span>
              </div>
              <div class="_f-pt2-acfe83">
                <img
                  data-qa="icon-external"
                  class="_f-db-d2ba8a _f-overflow-hidden-4fbe93"
                  src="./images/paypalIcon.svg"
                  alt="paypal"
                  width="60"
                  height="34"
                  loading="lazy"
                /><span class="_f-sr-only-2756d3">paypal</span>
              </div>
              <div class="_f-pt2-acfe83">
                <img
                  data-qa="icon-external"
                  class="_f-db-d2ba8a _f-overflow-hidden-4fbe93"
                  src="./images/floaLogo.svg"
                  alt="floa"
                  width="73"
                  height="25"
                  loading="lazy"
                /><span class="_f-sr-only-2756d3">floa</span>
              </div>
              <div class="_f-pt2-acfe83">
                <img
                  data-qa="icon-external"
                  class="_f-db-d2ba8a _f-overflow-hidden-4fbe93"
                  src="./images/americanExpress.svg"
                  alt="americanexpress"
                  width="34"
                  height="34"
                  loading="lazy"
                /><span class="_f-sr-only-2756d3">americanexpress</span>
              </div>
            </div>
          </div>
          <div class="_f-appsLinksContainer-c232ef">
            <a
              href="/event/club-rakuten#xtatc=PUB-[PMC][HomePage][x7App][]"
              class="_f-link-1c8d7c _f-dark-gray-05105b _f-appsLink-823673"
              >Avec l'appli Rakuten, bénéficiez de 5% remboursés en Rakuten
              Points sur tous vos achats !</a
            >
            <div class="_f-flex-c3a12c _f-appsLinkPicContainer-27b991">
              <a
                href="https://app.appsflyer.com/id579373363?pid=PriceMinister&amp;c=Page_EVT_2015"
                class="_f-isForIos-9a5b52"
                ><img
                  data-qa="icon-external"
                  loading="lazy"
                  class="_f-link-1c8d7c _f-dark-gray-05105b _f-appsButton-f91c45"
                  src="./images/appStoreIcon.svg"
                  alt="Application Appstore"
                  width="135"
                  height="40"
                /><span class="_f-sr-only-2756d3">Application Appstore</span></a
              ><a
                href="https://app.appsflyer.com/com.priceminister.buyerapp?pid=PriceMinister&amp;c=Page_EVT_2015"
                class="_f-isForAndroid-a4a7fd"
                ><img
                  data-qa="icon-external"
                  loading="lazy"
                  class="_f-link-1c8d7c _f-dark-gray-05105b _f-appsButton-f91c45"
                  src="./images/playStoreIcon.svg"
                  alt="Application Android"
                  width="135"
                  height="40"
                /><span class="_f-sr-only-2756d3">Application Android</span></a
              >
            </div>
          </div>
          <div
            class="_f-flex-c3a12c _f-justify-between-338fe5 _f-items-center-67f653 _f-pr4-da6975 _f-pl4-229e56 _f-bg-white-033e9a _f-container-968162"
          >
            <a
              rel="noopener noreferrer"
              target="_blank"
              href="https://global.rakuten.com/"
              class=""
              ><img
                class="_f-db-d2ba8a _f-mw-none-ac1a6e _f-img-a515e3"
                src="./images/RakutenLogos.svg"
                loading="lazy"
                alt="RakutenLogos.svg"
            /></a>
            <ul
              class="_f-list-d7a691 _f-ma0-91afa6 _f-pa0-b2f1bf _f-flex-c3a12c _f-justify-around-c1e7fe _f-w-100-2ec53a _f-pr4-da6975 _f-pl4-229e56 _f-companies-9a48be"
            >
              <li class="_f-list-21bee8">
                <a
                  rel="noopener noreferrer"
                  target="_blank"
                  href="https://rd.rakuten.co.jp/s2/?R2=https%3A%2F%2Fwww.kobo.com%2F&amp;D2=638.0.254426.0.32267295&amp;C3=0b89bca361af97fbd21151cec125e851fc43e74f"
                  class="_f-dib-3b9ea7 _f-normal-d1745d _f-w-auto-1a9f7e _f-h-auto-8a3b6b _f-no-underline-42938b _f-anchor-933157"
                  >Rakuten Kobo</a
                >
              </li>
              <li class="_f-list-21bee8">
                <a
                  rel="noopener noreferrer"
                  target="_blank"
                  href="https://rd.rakuten.co.jp/s2/?R2=https%3A%2F%2Ffr.rakuten.tv%2F&amp;D2=638.0.254426.0.32267300&amp;C3=7569a51ff88b2c7a761d90b3517c01a362070fdb"
                  class="_f-dib-3b9ea7 _f-normal-d1745d _f-w-auto-1a9f7e _f-h-auto-8a3b6b _f-no-underline-42938b _f-anchor-933157"
                  >Rakuten TV</a
                >
              </li>
              <li class="_f-list-21bee8">
                <a
                  rel="noopener noreferrer"
                  target="_blank"
                  href="https://rd.rakuten.co.jp/s2/?R2=https%3A%2F%2Fwww.viber.com%2Ffr%2F&amp;D2=638.0.254426.0.32267296&amp;C3=5785bb59de25ef8f0d5c143aea26b265b019aee4"
                  class="_f-dib-3b9ea7 _f-normal-d1745d _f-w-auto-1a9f7e _f-h-auto-8a3b6b _f-no-underline-42938b _f-anchor-933157"
                  >Rakuten Viber</a
                >
              </li>
              <li class="_f-list-21bee8">
                <a
                  rel="noopener noreferrer"
                  target="_blank"
                  href="https://rd.rakuten.co.jp/s2/?R2=https%3A%2F%2Fwww.viki.com%2F&amp;D2=638.0.254426.0.32267294&amp;C3=8c4f956fd025fffc9af6ee87c5ee18029e98a06d"
                  class="_f-dib-3b9ea7 _f-normal-d1745d _f-w-auto-1a9f7e _f-h-auto-8a3b6b _f-no-underline-42938b _f-anchor-933157"
                  >Rakuten Viki</a
                >
              </li>
              <li class="_f-list-21bee8">
                <a
                  rel="noopener noreferrer"
                  target="_blank"
                  href="https://rd.rakuten.co.jp/s2/?R2=https%3A%2F%2Fglobal.rakuten.com%2Fcorp%2Fabout%2Fcompany%2F&amp;D2=638.0.254426.0.32267305&amp;C3=a39d9a4bd3a6fae9223f079e192d7c8874091763"
                  class="_f-dib-3b9ea7 _f-normal-d1745d _f-w-auto-1a9f7e _f-h-auto-8a3b6b _f-no-underline-42938b _f-anchor-933157"
                  >Plus de services</a
                >
              </li>
              <li class="_f-list-21bee8">
                <a
                  rel="noopener noreferrer"
                  target="_blank"
                  href="https://rd.rakuten.co.jp/s2/?R2=https%3A%2F%2Fglobal.rakuten.com%2Fcorp%2Fabout%2Ffr%2F&amp;D2=638.0.254426.0.32267304&amp;C3=c00ff816abc6bd9961d86b36399aae96331a93ca"
                  class="_f-dib-3b9ea7 _f-normal-d1745d _f-w-auto-1a9f7e _f-h-auto-8a3b6b _f-no-underline-42938b _f-anchor-933157"
                  >À propos de Rakuten</a
                >
              </li>
            </ul>
            <div
              class="_f-relative-be87fc _f-pointer-932ccf _f-container-5f6655"
            >
              <select
                class="_f-bg-white-033e9a _f-pointer-932ccf _f-select-e20ab2"
              >
                <option value="https://fr.shopping.rakuten.com">France</option>
                <option value="https://www.rakuten.de">Allemagne</option>
                <option value="https://www.rakuten.com.br">Brésil</option>
                <option value="https://www.rakuten.com">Etats-Unis</option>
                <option value="https://www.rakuten.co.jp">Japon</option>
                <option value="https://www.rakuten.com.tw">Taïwan</option>
              </select>
            </div>
          </div>
          <div class="_f-dn-ns-cf8b16">
            <a
              rel="nofollow"
              href="#"
              class="_f-pa-8-10e39b _f-flex-c3a12c _f-justify-around-c1e7fe _f-w-100-2ec53a _f-bg-white-033e9a _f-link-1c8d7c _f-gray-8885cc _f-f6-1f7ea0"
              >Rakuten.com</a
            >
          </div>
          <div class="_f-bg-white-033e9a _f-rk_Pm_Copyright-199b2b">
            <p
              class="_f-pa-8-10e39b _f-tc-7c0393 _f-bg-white-033e9a _f-dark-gray-05105b _f-pmCopyright-779a48 _f-f12-f45559"
            >
              © Rakuten France 2000 - 2024
            </p>
          </div>
          <div
            class="_f-flex-c3a12c _f-justify-between-338fe5 _f-items-center-67f653 _f-pr4-da6975 _f-pl4-229e56 _f-bg-white-033e9a _f-container-e74c42"
          >
            <ul
              class="_f-list-d7a691 _f-ma0-91afa6 _f-pa0-b2f1bf _f-flex-c3a12c _f-justify-around-c1e7fe _f-w-100-2ec53a _f-pr4-da6975 _f-pl4-229e56 _f-pb4-31e019 _f-companies-68f646"
            >
              <li
                class="_f-flex-c3a12c _f-pa1-f3d1e7 _f-links-9bdf09 _f-list-019121"
              >
                <a
                  target="_self"
                  rel="noopener noreferrer"
                  href="/event/black-friday
"
                  class="_f-dib-3b9ea7 _f-normal-d1745d _f-w-auto-1a9f7e _f-h-auto-8a3b6b _f-anchor-a615f7"
                  >Bons plans Black Friday</a
                >
              </li>
              <li
                class="_f-flex-c3a12c _f-pa1-f3d1e7 _f-links-9bdf09 _f-list-019121"
              >
                <a
                  target="_self"
                  rel="noopener noreferrer"
                  href="/nav/Loisirs_musculation-fitness/f10/tapis-de-course
"
                  class="_f-dib-3b9ea7 _f-normal-d1745d _f-w-auto-1a9f7e _f-h-auto-8a3b6b _f-anchor-a615f7"
                  >Tapis de course Black Friday</a
                >
              </li>
              <li
                class="_f-flex-c3a12c _f-pa1-f3d1e7 _f-links-9bdf09 _f-list-019121"
              >
                <a
                  target="_self"
                  rel="noopener noreferrer"
                  href="/nav/marque/pandora
"
                  class="_f-dib-3b9ea7 _f-normal-d1745d _f-w-auto-1a9f7e _f-h-auto-8a3b6b _f-anchor-a615f7"
                  >Black Friday Pandora</a
                >
              </li>
              <li
                class="_f-flex-c3a12c _f-pa1-f3d1e7 _f-links-9bdf09 _f-list-019121"
              >
                <a
                  target="_self"
                  rel="noopener noreferrer"
                  href="/nav/marque/dell
"
                  class="_f-dib-3b9ea7 _f-normal-d1745d _f-w-auto-1a9f7e _f-h-auto-8a3b6b _f-anchor-a615f7"
                  >Dell Black Friday</a
                >
              </li>
              <li
                class="_f-flex-c3a12c _f-pa1-f3d1e7 _f-links-9bdf09 _f-list-019121"
              >
                <a
                  target="_self"
                  rel="noopener noreferrer"
                  href="/nav/Electromenager_appareil-a-boisson/f1/SodaStream/f2/machine-a-soda
"
                  class="_f-dib-3b9ea7 _f-normal-d1745d _f-w-auto-1a9f7e _f-h-auto-8a3b6b _f-anchor-a615f7"
                  >Sodastream Black Friday</a
                >
              </li>
              <li
                class="_f-flex-c3a12c _f-pa1-f3d1e7 _f-links-9bdf09 _f-list-019121"
              >
                <a
                  target="_self"
                  rel="noopener noreferrer"
                  href="/nav/Informatique_composants_carte-graphique
"
                  class="_f-dib-3b9ea7 _f-normal-d1745d _f-w-auto-1a9f7e _f-h-auto-8a3b6b _f-anchor-a615f7"
                  >Carte Graphique Black Friday</a
                >
              </li>
              <li
                class="_f-flex-c3a12c _f-pa1-f3d1e7 _f-links-9bdf09 _f-list-019121"
              >
                <a
                  target="_self"
                  rel="noopener noreferrer"
                  href="/nav/Informatique_Ordinateur-de-bureau/f10/gaming
"
                  class="_f-dib-3b9ea7 _f-normal-d1745d _f-w-auto-1a9f7e _f-h-auto-8a3b6b _f-anchor-a615f7"
                  >Black Friday Pc Gamer</a
                >
              </li>
              <li
                class="_f-flex-c3a12c _f-pa1-f3d1e7 _f-links-9bdf09 _f-list-019121"
              >
                <a
                  target="_self"
                  rel="noopener noreferrer"
                  href="/nav/marque/ghd
"
                  class="_f-dib-3b9ea7 _f-normal-d1745d _f-w-auto-1a9f7e _f-h-auto-8a3b6b _f-anchor-a615f7"
                  >Ghd Black Friday</a
                >
              </li>
              <li
                class="_f-flex-c3a12c _f-pa1-f3d1e7 _f-links-9bdf09 _f-list-019121"
              >
                <a
                  target="_self"
                  rel="noopener noreferrer"
                  href="/nav/Tel-PDA_montres-bracelets-connectes/f5/montre-connectee
"
                  class="_f-dib-3b9ea7 _f-normal-d1745d _f-w-auto-1a9f7e _f-h-auto-8a3b6b _f-anchor-a615f7"
                  >Montre Connectée Black Friday</a
                >
              </li>
              <li
                class="_f-flex-c3a12c _f-pa1-f3d1e7 _f-links-9bdf09 _f-list-019121"
              >
                <a
                  target="_self"
                  rel="noopener noreferrer"
                  href="/nav/Mode_bijoux/f5/Swarovski
"
                  class="_f-dib-3b9ea7 _f-normal-d1745d _f-w-auto-1a9f7e _f-h-auto-8a3b6b _f-anchor-a615f7"
                  >Swarovski Black Friday</a
                >
              </li>
            </ul>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>