

<div id="footersecond" style="display: none">
  <div class="App">
    <div id="epm_footer">
      <div class="x-next-plat-mod" id="platform_modernisation_footer">
        <footer dir="ltr">
          <div data-testid="footer-container">
            <div
              class="MuiGrid-root MuiGrid-container SocialMedia footer-bczy6x"
              data-testid="footer-region-socialmedia"
            >
              <div
                class="MuiContainer-root MuiContainer-maxWidthXl footer-13d406l"
              >
                <div
                  class="MuiGrid-root MuiGrid-container MuiGrid-item MuiGrid-grid-xs-12 footer-cavaew"
                >
                  <h3 class="MuiTypography-root MuiTypography-h5 footer-2wb2gn">
                    Our Social Networks
                  </h3>
                  <a
                    class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-5bv567"
                    aria-label="facebook"
                    href="https://www.facebook.com/nextofficial"
                    target="_blank"
                    data-testid="footer-social-media-facebook"
                    ><img
                      loading="lazy"
                      src="./images/social-facebook.svg"
                      aria-hidden="true"
                      class="footer-1d7k61d" /></a
                  ><a
                    class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-5bv567"
                    aria-label="twitter"
                    href="https://www.twitter.com/nextofficial"
                    target="_blank"
                    data-testid="footer-social-media-twitter"
                    ><img
                      loading="lazy"
                      src="./images/social-x.svg"
                      aria-hidden="true"
                      class="footer-1d7k61d" /></a
                  ><a
                    class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-5bv567"
                    aria-label="tiktok"
                    href="https://www.tiktok.com/@nextofficial"
                    target="_blank"
                    data-testid="footer-social-media-tiktok"
                    ><img
                      loading="lazy"
                      src="./images/social-tiktok.svg"
                      aria-hidden="true"
                      class="footer-1d7k61d" /></a
                  ><a
                    class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-5bv567"
                    aria-label="instagram"
                    href="https://instagram.com/nextofficial/"
                    target="_blank"
                    data-testid="footer-social-media-instagram"
                    ><img
                      loading="lazy"
                      src="./images/social-instagram.svg"
                      aria-hidden="true"
                      class="footer-1d7k61d" /></a
                  ><a
                    class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-5bv567"
                    aria-label="pinterest"
                    href="https://www.pinterest.com/nextofficial"
                    target="_blank"
                    data-testid="footer-social-media-pinterest"
                    ><img
                      loading="lazy"
                      src="./images/social-pinterest.svg"
                      aria-hidden="true"
                      class="footer-1d7k61d" /></a
                  ><a
                    class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-5bv567"
                    aria-label="youtube"
                    href="https://www.youtube.com/user/nextshopping"
                    target="_blank"
                    data-testid="footer-social-media-youtube"
                    ><img
                      loading="lazy"
                      src="./images/social-youtube.svg"
                      aria-hidden="true"
                      class="footer-1d7k61d"
                  /></a>
                </div>
              </div>
            </div>
            <div
              class="MuiGrid-root MuiGrid-container QuickLinks footer-bczy6x"
              data-testid="footer-region-quicklinks"
            >
              <div
                class="MuiContainer-root MuiContainer-maxWidthXl footer-13d406l"
              >
                <div
                  class="MuiGrid-root MuiGrid-container MuiGrid-item MuiGrid-grid-xs-12 footer-ebzfyo"
                >
                  <div
                    class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-12 MuiGrid-grid-md-6 MuiGrid-grid-lg-6 quicklink__wrapper footer-uoolqw"
                    data-testid="footer-quicklinks-myaccount-undefined"
                  >
                    <a
                      class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-hn1su4"
                      href="https://www.next.ie/en/secure/accounts/transfer"
                      target="_self"
                      aria-label="My Account"
                      data-testid="footer-quick-links-myaccountloggedout-my-account"
                      ><img
                        loading="lazy"
                        src="./images/myaccount.svg"
                        aria-hidden="true"
                        alt="My Account"
                        class="footer-uce3yl"
                      /><span class="footer-m3c4re"
                        ><h3
                          class="MuiTypography-root MuiTypography-h5 footer-1xitwn"
                          data-testid="footer-quick-links-title-my-account"
                        >
                          My Account
                        </h3>
                        <h4
                          class="MuiTypography-root MuiTypography-subtitle1 footer-13stss2"
                          data-testid="footer-quick-links-description-sign-in-to-your-account"
                        >
                          Sign-in to your account
                        </h4></span
                      ></a
                    >
                  </div>
                </div>
                <div
                  class="MuiGrid-root MuiGrid-container MuiGrid-item MuiGrid-grid-xs-12 footer-ebzfyo"
                ></div>
              </div>
            </div>
            <div
              class="MuiGrid-root MuiGrid-container MainLinks footer-bczy6x"
              data-testid="footer-region-mainlinks"
            >
              <div
                class="MuiContainer-root MuiContainer-maxWidthXl footer-13d406l"
              >
                <div
                  class="MuiGrid-root MuiGrid-container MuiGrid-item MuiGrid-grid-xs-12 footer-1qebeak"
                >
                  <div
                    class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-3 MuiGrid-grid-lg-3 footer-anxml5"
                  >
                    <h2
                      class="MuiTypography-root MuiTypography-h4 footer-1dpmwil"
                      data-testid="footer-main-links-title-help"
                    >
                      Help
                    </h2>
                    <ul
                      data-testid="footer-main-links-title-help-list"
                      class="footer-bzs326"
                    >
                      <li>
                        <a
                          class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                          href="https://www.next.ie/en/help/returns"
                          target="_self"
                          aria-label="Returns Information"
                          data-testid="footer-main-links-returns-information"
                          >Returns Information</a
                        >
                      </li>
                      <li>
                        <a
                          class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                          href="https://www.next.ie/en/help/delivery"
                          target="_self"
                          aria-label="Shipping Information"
                          data-testid="footer-main-links-shipping-information"
                          >Shipping Information</a
                        >
                      </li>
                      <li>
                        <a
                          class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                          href="https://www.next.ie/en/help/contact-us"
                          target="_self"
                          aria-label="Contact Us"
                          data-testid="footer-main-links-contact-us"
                          >Contact Us</a
                        >
                      </li>
                      <li>
                        <a
                          class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                          href="https://www.next.ie/en/recall"
                          target="_self"
                          aria-label="Product Recall"
                          data-testid="footer-main-links-product-recall"
                          >Product Recall</a
                        >
                      </li>
                      <li>
                        <a
                          class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                          href="https://www.next.ie/en/store-locator"
                          target="_self"
                          aria-label="Store Finder"
                          data-testid="footer-main-links-find-a-store"
                          >Find a Store</a
                        >
                      </li>
                    </ul>
                  </div>
                  <div
                    class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-3 MuiGrid-grid-lg-3 footer-anxml5"
                  >
                    <h2
                      class="MuiTypography-root MuiTypography-h4 footer-1dpmwil"
                      data-testid="footer-main-links-title-privacy-&amp;-legal"
                    >
                      Privacy &amp; Legal
                    </h2>
                    <ul
                      data-testid="footer-main-links-title-privacy-&amp;-legal-list"
                      class="footer-bzs326"
                    >
                      <li>
                        <a
                          class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                          href="https://www.next.ie/en/privacypolicy"
                          target="_self"
                          aria-label="Privacy &amp; Cookie Policy"
                          data-testid="footer-main-links-privacy-&amp;-cookie-policy"
                          >Privacy &amp; Cookie Policy</a
                        >
                      </li>
                      <li>
                        <a
                          class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                          href="https://xcdn.next.co.uk/PDFS/genderpay/GPG2024.pdf"
                          target="_blank"
                          aria-label="Gender Pay Gap Report"
                          data-testid="footer-main-links-gender-pay-gap-report"
                          >Gender Pay Gap Report</a
                        >
                      </li>
                      <li>
                        <a
                          class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                          href="https://www.next.ie/en/terms"
                          target="_self"
                          aria-label="Terms &amp; Conditions"
                          data-testid="footer-main-links-terms-&amp;-conditions"
                          >Terms &amp; Conditions</a
                        >
                      </li>
                      <li>
                        <button
                          type="button"
                          aria-label="Manually Manage Cookies"
                          data-testid="footer-main-links-manually-manage-cookies"
                          class="ot-sdk-show-settings footer-1fp7qnv"
                        >
                          Manually Manage Cookies
                        </button>
                      </li>
                    </ul>
                  </div>
                  <div
                    class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-3 MuiGrid-grid-lg-3 footer-anxml5"
                  >
                    <h2
                      class="MuiTypography-root MuiTypography-h4 footer-1dpmwil"
                      data-testid="footer-main-links-title-departments"
                    >
                      Departments
                    </h2>
                    <ul
                      data-testid="footer-main-links-title-departments-list"
                      class="footer-bzs326"
                    >
                      <li>
                        <a
                          class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                          href="https://www.next.ie/en/women"
                          target="_self"
                          aria-label="Womens"
                          data-testid="footer-main-links-womens"
                          >Womens</a
                        >
                      </li>
                      <li>
                        <a
                          class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                          href="https://www.next.ie/en/men"
                          target="_self"
                          aria-label="Mens"
                          data-testid="footer-main-links-mens"
                          >Mens</a
                        >
                      </li>
                      <li>
                        <a
                          class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                          href="https://www.next.ie/en/boys"
                          target="_self"
                          aria-label="Boys"
                          data-testid="footer-main-links-boys"
                          >Boys</a
                        >
                      </li>
                      <li>
                        <a
                          class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                          href="https://www.next.ie/en/girls"
                          target="_self"
                          aria-label="Girls"
                          data-testid="footer-main-links-girls"
                          >Girls</a
                        >
                      </li>
                      <li>
                        <a
                          class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                          href="https://www.next.ie/en/homeware"
                          target="_self"
                          aria-label="Home"
                          data-testid="footer-main-links-home"
                          >Home</a
                        >
                      </li>
                      <li>
                        <a
                          class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                          href="https://www.next.ie/en/baby"
                          target="_self"
                          aria-label="Baby"
                          data-testid="footer-main-links-baby"
                          >Baby</a
                        >
                      </li>
                      <li>
                        <a
                          class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                          href="https://www.next.ie/en/branded"
                          target="_self"
                          aria-label="Brands"
                          data-testid="footer-main-links-brands"
                          >Brands</a
                        >
                      </li>
                    </ul>
                  </div>
                  <div
                    class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-3 MuiGrid-grid-lg-3 footer-anxml5"
                  >
                    <h2
                      class="MuiTypography-root MuiTypography-h4 footer-1dpmwil"
                      data-testid="footer-main-links-title-other-services"
                    >
                      Other Services
                    </h2>
                    <ul
                      data-testid="footer-main-links-title-other-services-list"
                      class="footer-bzs326"
                    >
                      <li>
                        <a
                          class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                          href="https://www.nextplc.co.uk/media/media-contacts"
                          target="_blank"
                          aria-label="Media &amp; Press"
                          data-testid="footer-main-links-media-&amp;-press"
                          >Media &amp; Press</a
                        >
                      </li>
                      <li>
                        <a
                          class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                          href="https://www.nextplc.co.uk/"
                          target="_blank"
                          aria-label="The Company"
                          data-testid="footer-main-links-the-company"
                          >The Company</a
                        >
                      </li>
                      <li>
                        <a
                          class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                          href="https://careers.next.co.uk/"
                          target="_blank"
                          aria-label="Careers@next"
                          data-testid="footer-main-links-careers@next"
                          >Careers@next</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
                <div
                  class="MuiGrid-root MuiGrid-container MuiGrid-item MuiGrid-grid-xs-12 footer-fglpl0"
                >
                  <div
                    class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-3 MuiGrid-grid-lg-3 footer-lx3rnw"
                  >
                    <div
                      class="MuiPaper-root MuiPaper-elevation MuiPaper-elevation1 MuiAccordion-root footer-szedh8"
                      data-testid="accordions-help"
                    >
                      <div
                        class="MuiButtonBase-root MuiAccordionSummary-root footer-1kszc1h"
                        tabindex="0"
                        role="button"
                        aria-expanded="false"
                      >
                        <div class="MuiAccordionSummary-content footer-1n11r91">
                          <p
                            class="MuiTypography-root MuiTypography-body1 footer-1u63izg"
                          >
                            Help
                          </p>
                        </div>
                        <div
                          class="MuiAccordionSummary-expandIconWrapper footer-1fx8m19"
                        >
                          
                        </div>
                      </div>
                      <div
                        class="MuiCollapse-root MuiCollapse-vertical MuiCollapse-hidden footer-a0y2e3"
                        style="min-height: 0px"
                      >
                        <div
                          class="MuiCollapse-wrapper MuiCollapse-vertical footer-hboir5"
                        >
                          <div
                            class="MuiCollapse-wrapperInner MuiCollapse-vertical footer-8atqhb"
                          >
                            <div role="region" class="MuiAccordion-region">
                              <div
                                class="MuiAccordionDetails-root footer-17vwevp"
                              >
                                <ul
                                  data-testid="footer-main-links-title-help-list"
                                  class="footer-bzs326"
                                >
                                  <li>
                                    <a
                                      class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                                      href="https://www.next.ie/en/help/returns"
                                      target="_self"
                                      aria-label="Returns Information"
                                      data-testid="footer-main-links-returns-information"
                                      >Returns Information</a
                                    >
                                  </li>
                                  <li>
                                    <a
                                      class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                                      href="https://www.next.ie/en/help/delivery"
                                      target="_self"
                                      aria-label="Shipping Information"
                                      data-testid="footer-main-links-shipping-information"
                                      >Shipping Information</a
                                    >
                                  </li>
                                  <li>
                                    <a
                                      class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                                      href="https://www.next.ie/en/help/contact-us"
                                      target="_self"
                                      aria-label="Contact Us"
                                      data-testid="footer-main-links-contact-us"
                                      >Contact Us</a
                                    >
                                  </li>
                                  <li>
                                    <a
                                      class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                                      href="https://www.next.ie/en/recall"
                                      target="_self"
                                      aria-label="Product Recall"
                                      data-testid="footer-main-links-product-recall"
                                      >Product Recall</a
                                    >
                                  </li>
                                  <li>
                                    <a
                                      class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                                      href="https://www.next.ie/en/store-locator"
                                      target="_self"
                                      aria-label="Store Finder"
                                      data-testid="footer-main-links-find-a-store"
                                      >Find a Store</a
                                    >
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-3 MuiGrid-grid-lg-3 footer-lx3rnw"
                  >
                    <div
                      class="MuiPaper-root MuiPaper-elevation MuiPaper-elevation1 MuiAccordion-root footer-szedh8"
                      data-testid="accordions-privacy-&amp;-legal"
                    >
                      <div
                        class="MuiButtonBase-root MuiAccordionSummary-root footer-1kszc1h"
                        tabindex="0"
                        role="button"
                        aria-expanded="false"
                      >
                        <div class="MuiAccordionSummary-content footer-1n11r91">
                          <p
                            class="MuiTypography-root MuiTypography-body1 footer-1u63izg"
                          >
                            Privacy &amp; Legal
                          </p>
                        </div>
                        <div
                          class="MuiAccordionSummary-expandIconWrapper footer-1fx8m19"
                        >
                         
                        </div>
                      </div>
                      <div
                        class="MuiCollapse-root MuiCollapse-vertical MuiCollapse-hidden footer-a0y2e3"
                        style="min-height: 0px"
                      >
                        <div
                          class="MuiCollapse-wrapper MuiCollapse-vertical footer-hboir5"
                        >
                          <div
                            class="MuiCollapse-wrapperInner MuiCollapse-vertical footer-8atqhb"
                          >
                            <div role="region" class="MuiAccordion-region">
                              <div
                                class="MuiAccordionDetails-root footer-17vwevp"
                              >
                                <ul
                                  data-testid="footer-main-links-title-privacy-&amp;-legal-list"
                                  class="footer-bzs326"
                                >
                                  <li>
                                    <a
                                      class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                                      href="https://www.next.ie/en/privacypolicy"
                                      target="_self"
                                      aria-label="Privacy &amp; Cookie Policy"
                                      data-testid="footer-main-links-privacy-&amp;-cookie-policy"
                                      >Privacy &amp; Cookie Policy</a
                                    >
                                  </li>
                                  <li>
                                    <a
                                      class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                                      href="https://xcdn.next.co.uk/PDFS/genderpay/GPG2024.pdf"
                                      target="_blank"
                                      aria-label="Gender Pay Gap Report"
                                      data-testid="footer-main-links-gender-pay-gap-report"
                                      >Gender Pay Gap Report</a
                                    >
                                  </li>
                                  <li>
                                    <a
                                      class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                                      href="https://www.next.ie/en/terms"
                                      target="_self"
                                      aria-label="Terms &amp; Conditions"
                                      data-testid="footer-main-links-terms-&amp;-conditions"
                                      >Terms &amp; Conditions</a
                                    >
                                  </li>
                                  <li>
                                    <button
                                      type="button"
                                      aria-label="Manually Manage Cookies"
                                      data-testid="footer-main-links-manually-manage-cookies"
                                      class="ot-sdk-show-settings footer-1fp7qnv"
                                    >
                                      Manually Manage Cookies
                                    </button>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-3 MuiGrid-grid-lg-3 footer-lx3rnw"
                  >
                    <div
                      class="MuiPaper-root MuiPaper-elevation MuiPaper-elevation1 MuiAccordion-root footer-szedh8"
                      data-testid="accordions-departments"
                    >
                      <div
                        class="MuiButtonBase-root MuiAccordionSummary-root footer-1kszc1h"
                        tabindex="0"
                        role="button"
                        aria-expanded="false"
                      >
                        <div class="MuiAccordionSummary-content footer-1n11r91">
                          <p
                            class="MuiTypography-root MuiTypography-body1 footer-1u63izg"
                          >
                            Departments
                          </p>
                        </div>
                        <div
                          class="MuiAccordionSummary-expandIconWrapper footer-1fx8m19"
                        >
                          
                        </div>
                      </div>
                      <div
                        class="MuiCollapse-root MuiCollapse-vertical MuiCollapse-hidden footer-a0y2e3"
                        style="min-height: 0px"
                      >
                        <div
                          class="MuiCollapse-wrapper MuiCollapse-vertical footer-hboir5"
                        >
                          <div
                            class="MuiCollapse-wrapperInner MuiCollapse-vertical footer-8atqhb"
                          >
                            <div role="region" class="MuiAccordion-region">
                              <div
                                class="MuiAccordionDetails-root footer-17vwevp"
                              >
                                <ul
                                  data-testid="footer-main-links-title-departments-list"
                                  class="footer-bzs326"
                                >
                                  <li>
                                    <a
                                      class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                                      href="https://www.next.ie/en/women"
                                      target="_self"
                                      aria-label="Womens"
                                      data-testid="footer-main-links-womens"
                                      >Womens</a
                                    >
                                  </li>
                                  <li>
                                    <a
                                      class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                                      href="https://www.next.ie/en/men"
                                      target="_self"
                                      aria-label="Mens"
                                      data-testid="footer-main-links-mens"
                                      >Mens</a
                                    >
                                  </li>
                                  <li>
                                    <a
                                      class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                                      href="https://www.next.ie/en/boys"
                                      target="_self"
                                      aria-label="Boys"
                                      data-testid="footer-main-links-boys"
                                      >Boys</a
                                    >
                                  </li>
                                  <li>
                                    <a
                                      class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                                      href="https://www.next.ie/en/girls"
                                      target="_self"
                                      aria-label="Girls"
                                      data-testid="footer-main-links-girls"
                                      >Girls</a
                                    >
                                  </li>
                                  <li>
                                    <a
                                      class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                                      href="https://www.next.ie/en/homeware"
                                      target="_self"
                                      aria-label="Home"
                                      data-testid="footer-main-links-home"
                                      >Home</a
                                    >
                                  </li>
                                  <li>
                                    <a
                                      class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                                      href="https://www.next.ie/en/baby"
                                      target="_self"
                                      aria-label="Baby"
                                      data-testid="footer-main-links-baby"
                                      >Baby</a
                                    >
                                  </li>
                                  <li>
                                    <a
                                      class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                                      href="https://www.next.ie/en/branded"
                                      target="_self"
                                      aria-label="Brands"
                                      data-testid="footer-main-links-brands"
                                      >Brands</a
                                    >
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-3 MuiGrid-grid-lg-3 footer-lx3rnw"
                  >
                    <div
                      class="MuiPaper-root MuiPaper-elevation MuiPaper-elevation1 MuiAccordion-root footer-szedh8"
                      data-testid="accordions-other-services"
                    >
                      <div
                        class="MuiButtonBase-root MuiAccordionSummary-root footer-1kszc1h"
                        tabindex="0"
                        role="button"
                        aria-expanded="false"
                      >
                        <div class="MuiAccordionSummary-content footer-1n11r91">
                          <p
                            class="MuiTypography-root MuiTypography-body1 footer-1u63izg"
                          >
                            Other Services
                          </p>
                        </div>
                        <div
                          class="MuiAccordionSummary-expandIconWrapper footer-1fx8m19"
                        >
                          
                        </div>
                      </div>
                      <div
                        class="MuiCollapse-root MuiCollapse-vertical MuiCollapse-hidden footer-a0y2e3"
                        style="min-height: 0px"
                      >
                        <div
                          class="MuiCollapse-wrapper MuiCollapse-vertical footer-hboir5"
                        >
                          <div
                            class="MuiCollapse-wrapperInner MuiCollapse-vertical footer-8atqhb"
                          >
                            <div role="region" class="MuiAccordion-region">
                              <div
                                class="MuiAccordionDetails-root footer-17vwevp"
                              >
                                <ul
                                  data-testid="footer-main-links-title-other-services-list"
                                  class="footer-bzs326"
                                >
                                  <li>
                                    <a
                                      class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                                      href="https://www.nextplc.co.uk/media/media-contacts"
                                      target="_blank"
                                      aria-label="Media &amp; Press"
                                      data-testid="footer-main-links-media-&amp;-press"
                                      >Media &amp; Press</a
                                    >
                                  </li>
                                  <li>
                                    <a
                                      class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                                      href="https://www.nextplc.co.uk/"
                                      target="_blank"
                                      aria-label="The Company"
                                      data-testid="footer-main-links-the-company"
                                      >The Company</a
                                    >
                                  </li>
                                  <li>
                                    <a
                                      class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover footer-b16esi"
                                      href="https://careers.next.co.uk/"
                                      target="_blank"
                                      aria-label="Careers@next"
                                      data-testid="footer-main-links-careers@next"
                                      >Careers@next</a
                                    >
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="MuiGrid-root MuiGrid-container Copyright footer-bczy6x"
              data-testid="footer-region-copyright"
            >
              <div
                class="MuiContainer-root MuiContainer-maxWidthXl footer-13d406l"
              >
                <div
                  class="MuiGrid-root MuiGrid-container MuiGrid-direction-xs-column footer-9zf22u"
                >
                  <div
                    class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 footer-17h592n"
                  >
                    <a
                      href=""
                      data-testid="footer-copyright-switcher-mobiletoggle"
                      class="footer-device-switcher footer-1i5vgkb"
                      >View mobile site</a
                    >
                  </div>
                  <div
                    class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 footer-17h592n"
                  >
                    <h3
                      class="MuiTypography-root MuiTypography-caption footer-1ck0uc0"
                      data-testid="footer-copyright-text"
                    >
                      © 2024 Next Retail Ltd. All rights reserved.
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
