<div id="headersecond" style="display: none">
  <section
    id="platform_modernisation_header"
    class="x-next-plat-mod"
    style="--display-primary-nav: 1; --padding: 9.1px"
  >
    <button
      id="next-header-skip-to-content"
      data-testid="next-header-skip-to-content"
      tabindex="0"
      aria-label="Skip to main content"
      class="header-12noy7v"
    >
      Skip to main content</button
    ><style>
      [data-container-page] {
        margin-top: calc(7.73rem);
      }

      @media (min-width: 768px) {
        [data-container-page] {
          margin-top: calc(8.313rem);
        }
      }

      :root {
        --next-header-height: 7.73rem;
        --next-header-md-height: 8.313rem;
        --next-header-lg-height: 8.313rem;
        --next-header-scroll-height: 2.75rem;
      }

      body header.PageHeader:not(.SecurePageHeader) .BreadcrumbNavigation {
        margin-top: 0px;
      }
    </style>
    <header dir="ltr">
      <div data-testid="header-upperheader" class="header-81acyq">
        <div data-testid="header-staticheaderbanner" class="header-15jl2yu">
          <div class="header-vfeub8">
            <div class="header-auu3ad">
              <style>
                :root {
                  --next-header-height: 7.7188rem;
                }
              </style>
              <div
                id="header-content-banner"
                data-testid="header-content-banner"
                class="header-1yzag4h"
              >
                <link
                  rel="stylesheet"
                  href="https://static.nextdirect.com/resource/css/397462/397462/45bc69dea3084bea1dfff3bf018447e9/body.css"
                />
                <script src="https://static.nextdirect.com/resource/js/397462/0/47b2e66714a8f6476c232d9e0684e5ce/head.js"></script>
                <meta name="coremedia_content_id" content="397462" />
                <div class="cm_bootstrap">
                  <div class="cm-preview-content cm-clearfix">
                    <div class="content">
                      <div
                        class="cm_bootstrap_data"
                        data-background-image=""
                        data-background-color=""
                      ></div>

                      <div
                        id="cm-placement-topBanner"
                        class="cm-placement-topBanner width100"
                      >
                        <style></style>
                        <div
                          id="Accordion-Banner-693340-1"
                          class="accordion-banner-module"
                          style="margin: 0px; padding: 0px"
                        >
                          <div
                            class="AccordionBannerWrapper"
                            style="display: flex"
                          >
                            <div class="AccordionBannerText">
                              <span class="text-banner__title"
                                >€2 Home delivery within 1-2 days | Free
                                collection from store
                              </span>
                              <p class="text-banner__text"></p>
                            </div>
                            <div class="AccordionBannerCTA">
                              <!-- Default tag is span -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  style="visibility: hidden"
                  data-cm-metadata='[{"cm_responsiveDevices":{"hybrid_app_portrait":{"width":450,"height":700,"order":1},"mobile_portrait":{"width":375,"height":667,"order":2,"isDefault":true},"mobile_landscape":{"width":667,"height":375,"order":3},"tablet_portrait":{"width":768,"height":1024,"order":4},"tablet_landscape":{"width":1024,"height":768,"order":5}},"cm_preferredWidth":1280}]'
                ></div>
                <script src="https://static.nextdirect.com/resource/js/397462/0/47b2e66714a8f6476c232d9e0684e5ce/body.js"></script>
              </div>
            </div>
            <div class="header-1cftjr9">
              <span id="mt-vision-header-ribbon" class="header-9ds09w"></span>0
            </div>
          </div>
        </div>
        <nav class="header-9zb85v">
          <div class="header-8emek3">
            <div
              class="header-adaptive-brand header-oja13m"
              data-testid="header-adaptive-brand"
            >
              <a
                aria-label="Next Icon"
                title="Next Icon"
                href="https://www.next.ie/en/"
                class="header-bcqwvy"
                ><div class="header-l7kpez">
                  <img
                    src="./images/new-next-white-logo.svg"
                    alt="Next Icon"
                    class="header-d5w927"
                  />
                </div>
                <div
                  data-testid="wide-view-icon-container"
                  class="header-8r3t0c"
                >
                  <img
                    src="./images/new-next-white-logo.svg"
                    alt="Next Icon"
                    class="header-d5w927"
                  /></div
              ></a>
              <div
                data-testid="header-tabbed-logo-wrapper"
                class="header-1mx3453"
              ></div>
            </div>
            <div
              data-testid="header-adaptive-search-big"
              class="header-adaptive-search"
            >
              <div class="MuiBox-root header-h9r63z">
                <div
                  data-testid="header-big-screen-search"
                  class="header-2oe8sq"
                >
                  <div class="header-1dyzhh5">
                    <div class="header-12qmom1">
                      <form
                        action="https://www.next.ie/en/search"
                        id="header-search-form"
                        class="header-17bqpr3"
                      >
                        <label
                          for="header-big-screen-search-box"
                          class="header-1f9vf8v"
                          >Search product or brand</label
                        >
                        <div
                          required=""
                          class="MuiInputBase-root MuiInputBase-colorPrimary header-1lzmcnc"
                        >
                          <input
                            type="text"
                            autocomplete="off"
                            id="header-big-screen-search-box"
                            name="w"
                            placeholder="Search product or brand"
                            required=""
                            value=""
                            label="Search"
                            data-testid="header-search-bar-text-input"
                            data-ga-v1="Search"
                            data-ga-enter-event="Key Press Enter"
                            class="MuiInputBase-input header-mnn31"
                          />
                        </div>
                        <button
                          class="MuiButtonBase-root MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium header-1d5vuou"
                          tabindex="0"
                          type="submit"
                          value=""
                          data-testid="header-search-bar-button"
                          data-ga-v1="Search"
                          data-ga-v3="Press Icon"
                        >
                          <img
                            src="./images/search-input-button.svg"
                            alt="Search Icon"
                          />
                        </button>
                      </form>
                    </div>
                  </div>
                  <div class="MuiBox-root header-14naf6f">
                    <div class="header-16ud4ix"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="header-91ic8g">
            <div class="MuiBox-root header-18k8mc9">
              <div
                data-testid="header-adaptive-search-small"
                class="header-adaptive-search"
              >
                <div data-testid="header-small-screen-search">
                  <div
                    role="link"
                    data-ga-v1="Search"
                    data-ga-v2="Open Search"
                    data-testid="header-small-search-icon"
                    class="header-8wxbs4"
                  >
                    <img
                      src="./images/search.svg"
                      alt="Search Icon"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div
              class="header-adaptive-my-account header-1rtef0v"
              data-testid="header-adaptive-my-account"
            >
              <div class="MuiBox-root header-18k8mc9">
                <div
                  data-testid="header-adaptive-my-account-smallIcon"
                  class="header-rldlxw"
                >
                  <a
                    class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover header-yrosb7"
                    role="link"
                    href="https://www.next.ie/en/secure/accounts/transfer"
                    data-ga-v1="Quick Links"
                    data-ga-v2="My Account"
                    rel="nofollow"
                    data-testid="header-adaptive-my-account-smallIcon-container-link"
                    ><img
                      src="./images/next_my-account.svg"
                      alt="Sign in to view account details"
                  /></a>
                </div>
              </div>
              <div class="MuiBox-root header-h9r63z">
                <div
                  data-testid="header-adaptive-my-account-icon-container"
                  class="header-1n6kbbr"
                >
                  <a
                    class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover header-yrosb7"
                    role="link"
                    href="https://www.next.ie/en/secure/accounts/transfer"
                    data-ga-v1="Quick Links"
                    data-ga-v2="My Account"
                    rel="nofollow"
                    data-testid="header-adaptive-my-account-icon-container-link"
                    ><img
                      src="./images/next_my-account_desktop.svg"
                      alt="Sign in to view account details"
                    /><span
                      data-testid="header-myaccount-username"
                      data-dtrum-replay-mask=""
                      class="header-riea5x"
                      >My Account</span
                    ></a
                  >
                </div>
              </div>
            </div>
            <div
              class="shoppingbag header-1nxssqr"
              data-testid="header-shopping-bag"
            >
              <div class="MuiBox-root header-1ab6u1i">
                <a
                  data-testid="header-shopping-bag-link-el"
                  href="https://www.next.ie/en/shoppingbag"
                  data-ga-v1="Quick Links"
                  data-ga-v2="Shopping bag"
                  aria-label="Shopping bag"
                  title="Shopping bag"
                  rel="nofollow"
                  aria-expanded="false"
                  class="header-19xm0lj"
                  ><div class="header-woziy8 __web-inspector-hide-shortcut__">
                    0
                  </div>
                  <img
                    src="./images/shopping-bag-small.svg"
                    alt="Shopping bag icon"
                    aria-hidden="true"
                /></a>
              </div>
              <div class="MuiBox-root header-wo12yk">
                <a
                  data-testid="shopping-bag-link-button"
                  href="https://www.next.ie/en/shoppingbag"
                  data-ga-v1="Quick Links"
                  data-ga-v2="Shopping bag"
                  aria-label="Shopping bag"
                  title="Shopping bag"
                  rel="nofollow"
                  aria-expanded="false"
                  class="header-19xm0lj"
                  ><div class="header-woziy8 __web-inspector-hide-shortcut__">
                    0
                  </div>
                  <img
                    src="./images/shopping-bag-large.svg"
                    alt="Shopping bag icon"
                    aria-hidden="true"
                /></a>
              </div>
            </div>
            <div
              class="header-adaptive-checkout MuiBox-root header-iijz2r"
              data-testid="header-adaptive-checkout"
            >
              <a
                class="MuiButtonBase-root MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium Mui-disabled MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium header-125vn8g"
                tabindex="-1"
                aria-disabled="true"
                href="https://www.next.ie/en/secure/checkout/transfer/checkoutcta"
                data-ga-v1="Quick Links"
                data-ga-v2="Checkout"
                >CHECKOUT</a
              >
            </div>
            <div
              class="countrylangselector header-2d1dy4"
              data-testid="header-country-lang-selector"
            >
              <button class="header-lpjoj4">
                <img
                  alt="IE"
                  src="./images/ie.png"
                  data-testid="header-country-lang-flag"
                  class="header-q6ti7y"
                />
              </button>
            </div>
            <div
              id="header-country-selector-wrapper"
              class="header-1j297y5"
            ></div>
          </div>
        </nav>
      </div>
      <div data-testid="header-lowerheader" id="platform_modernisation_meganav">
        <div data-testid="primary-meganav" class="header-pg9n8w">
          <div class="header-1t5lbjt">
            <div class="header-pybuhu">
              <div class="header-1nvxwd2">
                <div style="transition: opacity 350ms ease-in-out; opacity: 0">
                  <div class="header-1yv8ntl">
                    <button
                      class="MuiButtonBase-root MuiIconButton-root MuiIconButton-sizeLarge header-1gzpori"
                      tabindex="-1"
                      type="button"
                      data-testid="meganav-primarynav-arrow-left"
                    >
                      <img
                        src="./images/chevron-left.svg"
                        alt="Chevron icon"
                        width="0.4375"
                        class="header-1bvcxp"
                      />
                    </button>
                    <div class="header-c26uml"></div>
                  </div>
                </div>
              </div>
              <ul
                data-testid="snail-trail-container"
                id="snail-trail-container"
                style="
                  justify-content: var(
                    --platmod_meganav_alignment,
                    space-between
                  );
                "
                class="header-1x0341o"
              >
                <li
                  data-testid="meganav-primarynav-link-christmas"
                  class="header-koes3o"
                  data-index="0"
                  data-mapping="XM"
                  data-title="CHRISTMAS"
                >
                  <a
                    href="https://www.next.ie/en/christmas"
                    title="CHRISTMAS"
                    data-ga-v1="Nav Bar"
                    data-ga-v2="CHRISTMAS"
                    id="meganav-link-0"
                    ><div font-weight="" class="header-9vnclg">christmas</div>
                    <span class="header-d08108"></span
                  ></a>
                </li>
                <li
                  data-testid="meganav-primarynav-link-women"
                  class="header-57twpl"
                  data-index="1"
                  data-mapping="WW"
                  data-title="WOMEN"
                >
                  <a
                    href="https://www.next.ie/en/women"
                    title="WOMEN"
                    data-ga-v1="Nav Bar"
                    data-ga-v2="WOMEN"
                    id="meganav-link-1"
                    ><div font-weight="" class="header-1jpr4p9">women</div>
                    <span class="header-d08108"></span
                  ></a>
                </li>
                <li
                  data-testid="meganav-primarynav-link-men's"
                  class="header-57twpl"
                  data-index="2"
                  data-mapping="MW"
                  data-title="MEN'S"
                >
                  <a
                    href="https://www.next.ie/en/men"
                    title="MEN'S"
                    data-ga-v1="Nav Bar"
                    data-ga-v2="MEN'S"
                    id="meganav-link-2"
                    ><div font-weight="" class="header-1jpr4p9">men's</div>
                    <span class="header-d08108"></span
                  ></a>
                </li>
                <li
                  data-testid="meganav-primarynav-link-girls"
                  class="header-57twpl"
                  data-index="3"
                  data-mapping="GI"
                  data-title="GIRLS"
                >
                  <a
                    href="https://www.next.ie/en/girls"
                    title="GIRLS"
                    data-ga-v1="Nav Bar"
                    data-ga-v2="GIRLS"
                    id="meganav-link-3"
                    ><div font-weight="" class="header-1jpr4p9">girls</div>
                    <span class="header-d08108"></span
                  ></a>
                </li>
                <li
                  data-testid="meganav-primarynav-link-boys"
                  class="header-57twpl"
                  data-index="4"
                  data-mapping="BO"
                  data-title="BOYS"
                >
                  <a
                    href="https://www.next.ie/en/boys"
                    title="BOYS"
                    data-ga-v1="Nav Bar"
                    data-ga-v2="BOYS"
                    id="meganav-link-4"
                    ><div font-weight="" class="header-1jpr4p9">boys</div>
                    <span class="header-d08108"></span
                  ></a>
                </li>
                <li
                  data-testid="meganav-primarynav-link-baby"
                  class="header-57twpl"
                  data-index="5"
                  data-mapping="BB"
                  data-title="BABY"
                >
                  <a
                    href="https://www.next.ie/en/baby"
                    title="BABY"
                    data-ga-v1="Nav Bar"
                    data-ga-v2="BABY"
                    id="meganav-link-5"
                    ><div font-weight="" class="header-1jpr4p9">baby</div>
                    <span class="header-d08108"></span
                  ></a>
                </li>
                <li
                  data-testid="meganav-primarynav-link-shoes"
                  class="header-57twpl"
                  data-index="6"
                  data-mapping="SH"
                  data-title="SHOES"
                >
                  <a
                    href="https://www.next.ie/en/search?w=footwear"
                    title="SHOES"
                    data-ga-v1="Nav Bar"
                    data-ga-v2="SHOES"
                    id="meganav-link-6"
                    ><div font-weight="" class="header-1jpr4p9">shoes</div>
                    <span class="header-d08108"></span
                  ></a>
                </li>
                <li
                  data-testid="meganav-primarynav-link-home"
                  class="header-57twpl"
                  data-index="7"
                  data-mapping="HM"
                  data-title="HOME"
                >
                  <a
                    href="https://www.next.ie/en/homeware"
                    title="HOME"
                    data-ga-v1="Nav Bar"
                    data-ga-v2="HOME"
                    id="meganav-link-7"
                    ><div font-weight="" class="header-1jpr4p9">home</div>
                    <span class="header-d08108"></span
                  ></a>
                </li>
                <li
                  data-testid="meganav-primarynav-link-brands"
                  class="header-57twpl"
                  data-index="8"
                  data-mapping="BR"
                  data-title="BRANDS"
                >
                  <a
                    href="https://www.next.ie/en/branded"
                    title="BRANDS"
                    data-ga-v1="Nav Bar"
                    data-ga-v2="BRANDS"
                    id="meganav-link-8"
                    ><div font-weight="" class="header-1jpr4p9">brands</div>
                    <span class="header-d08108"></span
                  ></a>
                </li>
                <li
                  data-testid="meganav-primarynav-link-clearance"
                  class="header-oq7q8n"
                  data-index="9"
                  data-mapping="SA"
                  data-title="CLEARANCE"
                >
                  <a
                    href="https://www.next.ie/en/shop/issale-true-feat-sale"
                    title="CLEARANCE"
                    data-ga-v1="Nav Bar"
                    data-ga-v2="CLEARANCE"
                    id="meganav-link-9"
                    ><div font-weight="" class="header-1g9xx2h">clearance</div>
                    <span class="header-d08108"></span
                  ></a>
                </li>
              </ul>
              <div class="header-1ibjmlb">
                <div style="transition: opacity 350ms ease-in-out; opacity: 0">
                  <div class="header-9dccvu">
                    <button
                      class="MuiButtonBase-root MuiIconButton-root MuiIconButton-sizeLarge header-1gzpori"
                      tabindex="-1"
                      type="button"
                      data-testid="meganav-primarynav-arrow-right"
                    >
                      <img
                        src="./images/chevron-left.svg"
                        alt="Chevron icon"
                        width="0.4375"
                        class="header-1bvcxp"
                      />
                    </button>
                    <div class="header-c26uml"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </section>
</div>
